body {
  background-color: #85144b;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}

.results__container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}

.player-result__container {
  display: flex;
  gap: 10px;
}

.computer-result__container {
  display: flex;
  gap: 10px;
}

p {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.choices__container {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding-top: 50px;
}

.choices__container img {
  height: 200px;
  border-radius: 7px;
  width: 150px;
}

img:hover {
  transform: scale(1.05);
  transition: all ease;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(136, 219, 140);
}

.game-log__container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.winner__container {
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding-top: 30px;
}
